// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}
table th {
  background: #000;
  color: #fff
}
table td, table th {
  border: 1px solid silver;
  padding: 10px;
}
td.price {
  text-align: right;
}