// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navigation {
  border: 5px solid silver;
  margin-bottom: 20px;
  padding: 10px;
}
.navigation a {
  margin-right: 10px;
}